<%= link_to article_path(@article) do %>
    <div class="back"></div>
<% end %>

<h1 class="h1">Edit -Article-</h1>

<%= form_with model: @article, url: article_path(@article), local: true do |f| %>
  <div class="form-group">
    <%= f.text_field :title, placeholder: 'max:100', class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.text_area :body, placeholder: '', class: 'form-control' %>
  </div>

  <%= f.submit 'Update', class: 'btn btn-warning pull-right' %>
<% end %>

