<%= link_to article_path(@article) do %>
    <div class="back"></div>
<% end %>

<h1 class="h1">Edit -Article-</h1>

<%= form_with model: @article, url: article_path(@article), local: true do |f| %>
  <div class="form-group">
    <%= f.text_field :title, placeholder: 'Title (max:100)', class: 'form-control' %>
  </div>

  <div class="">
  	<%= attachment_image_tag @article, :image, :fill, 100, 50, format: 'jpeg' %>
    <%= f.attachment_field :image, class: 'image_' %>
  </div>
  
  <div class="form-group">
    <%= f.text_area :body, placeholder: 'How was your day?', rows: 50, class: 'form-control' %>
  </div>

  <%= f.submit 'Update', class: 'btn btn-warning pull-right' %>
<% end %>

