<% unless writer_signed_in? %>
  <div class="about_background_image">
    <h1 class="text-center myBlog">MY BLOG</h1>
  </div>
<% end %>

<h1 class="h1">Articles</h1>
<!-- <div class="row">
  <p class="col-md-11 text-right">(<%= @articles.count %> articles)</p>
</div> -->

<%= search_form_for @q, url: root_path do |f| %>

  <div class="pull-right">
    <%= f.search_field :title_or_body_cont, placeholder: 'Keyword', class: 'form-group' %>
    <%= f.submit 'Search', class: 'btn btn-warning btn-xs search' %>
  </div>
<% end %>

<%= render 'paginate', articles: @articles %>
