<%= link_to root_path do %>
  <div class="back"></div>
<% end %>

<h1 class="h1">Create New Article</h1>

<%= form_with model: @article, url: articles_path, local: true do |f| %>

<div class="form-group">
  <%= f.text_field :title, placeholder: 'Title (max:100)', class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.text_area :body, placeholder: 'How was your day?',rows: 50, class: 'form-control' %>
</div>

  <%= f.submit 'Create', class: 'btn btn-warning pull-right' %>
<% end %>
