<%= link_to root_path, data: { 'turbolinks' => false } do %>
  <div class="back"></div>
<% end %>

<% if @article.writer == current_writer %>
  <%= link_to edit_article_path(@article) do %>
    <div class="articles_edit pull-right"></div>
  <% end %>

  <%= link_to article_path(@article), method: :delete, data: { confirm: '本当に削除しますか？' } do %>
    <div class="delete pull-right"></div><br>
  <% end %>
<% end %>

<h1 class="title"><%= @article.title %></h1>

<%= attachment_image_tag @writer, :image, :fill, 50, 50, format: 'jpeg', class: 'image_writer pull-right' %>
<p class="article_show_name pull-right">
	WRITER: <%= @article.writer.name %>
</p>

<div class="body">
  <%= attachment_image_tag @article, :image, :fill, 400, 250, format: 'jpeg', class: 'image' %>
  <%= markdown(@article.body).html_safe %>
</div>

<div class="index">
  <%= render 'index' %>
</div>
