<%= link_to edit_writer_path(@writer), data: { 'turbolinks' => false } do %>
    <div class="back"></div>
<% end %>

<h1 class="h1">Change
Your Password</h1>

<%= form_with(model:@writer, url: update_password_path(@writer), method: :PATCH, local: true) do |f| %>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.password_field :password, placeholder: 'New password', class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.password_field :password_confirmation, placeholder: 'Confirmation password', class: 'form-control' %>
    </div>
  </div>

  <%= f.submit 'Update', class: 'btn btn-info' %>
<% end %>