<%= link_to writer_path(@writer) do %>
  <div class="back"></div>
<% end %>

<h1 class="h1">Edit -Writer-</h1>

<%= form_with model: @writer, url: writer_path(@writer) do |f| %>
  
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.text_field :name, placeholder: 'Name (max:30)', class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
    </div>
  </div>

  <%= f.attachment_field :image, class: 'image_' %>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.text_area :introduction, rows: 15, placeholder: 'Introduction (max:200)', class: 'form-control' %>
    </div>
  </div>

  <%= f.submit 'Update', class: 'btn btn-warning' %>
<% end %>

<div class="change_password">
  <%= link_to 'Change Your Password', edit_password_path(@writer), class: 'btn btn-info' %>
</div>
