<div class="writers_show">
  <%= link_to root_path do %>
    <div class="back"></div>
  <% end %>

  <h1 class="h1">My Page</h1>

  <%= link_to edit_writer_path(@writer) do %>
    <div class="writer_edit pull-right"></div>
  <% end %>

  <div class="name_writer">
    Name: <%= @writer.name %>
  </div>

  <div class="email_writer">
    Email: <%= @writer.email %>
  </div>

  <div class="intro_writer">
    <%= markdown(@writer.introduction).html_safe %>
  </div>
</div>